<p>home works!</p>
<h1>Book Liabrary</h1>

<div id="data">
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus ducimus maxime necessitatibus quod, corporis rerum 
deleniti veritatis, quis nulla ipsum fugiat dicta recusandae voluptate quaerat cumque aut excepturi maiores, similique odit 
inventore veniam numquam illum quos. Omnis, enim. Similique, voluptatem blanditiis fuga inventore minima delectus asperiores 
quisquam obcaecati cumque? Explicabo, tempora unde. Esse culpa voluptatum eius nihil aliquam quibusdam vitae nisi maxime, 
sapiente, suscipit consequatur inventore possimus pariatur doloremque beatae iusto id quisquam? Numquam est quia culpa officiis
 architecto, facilis aperiam amet. Ipsam iure sapiente est laborum perspiciatis voluptate repudiandae id sint quas ab nostrum 
 aperiam obcaecati consequuntur, ad alias.
 <br>

</div>
<a href="categories"><h1><button id="explore">Explore</button></h1></a>
